<div class="selfSummary">
  <!-- <img src="images/self.jpg"/> -->
  <h3><span class="accent">/</span>Hello world</h3>
  <p>I am a multi-talented IT professional with experience in building and maintaining web applications, as well as troubleshooting infrastructure and codebase issues.
      My background includes serving as a Web Developer and, more recently, a Senior Technical Support Engineer.
      During the course of my career, I have expanded my knowledge and skillset to accommodate the demanding, and ever-growing, business and technical needs that today’s organizations face.
      The result of this has been the successful development and implementation of complex solutions.</p>

 <p>I am passionate about delivering meaningful and effective user experiences through the use of essential technologies - JavaScript and its libraries, as well as Adobe products.
    This passion is further cultivated by indulging my creative interests, which include photography, painting, and music, to name a few.
    Beyond this, I enjoy traveling to gain multicultural experiences and narratives.
</p>

</div>
