<div class="connect">
  <h3><span class="accent">/</span>Find me at:</h3>
    <ul>
      <li><a href="mailto:mia.alsaif@gmail.com"><img src="assets/icons/email.png" alt="email icon"/>mia.alsaif[at]gmail.com </a></li>
      <li><a href="https://www.linkedin.com/in/miaalsaif" target="_blank"><img src="assets/icons/linkedin.png" alt="linkedin icon"/> LinkedIn</a></li>
      <li><a href="https://github.com/MiaAlSaif" target="_blank"><img src="assets/icons/github.png" alt="github icon"/> GitHub</a></li>
      <!-- <li><a href="https://dribbble.com/Mia7" target="_blank"><img src="assets/icons/dribbble.png" alt="dribbble icon"/> Dribbble</a></li> -->
    </ul>
</div>
