$background: rgba(0, 0, 0, .7);

.my-app-custom-plain-container {
  margin: 0;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(40%, 1fr));
  padding: 0;
  flex-wrap: wrap;
  text-align: center;
z-index: 1000;
  figure {
    margin: 0;

    img {
      width: 70%;
      height: auto;
      cursor: crosshair;
      padding-bottom: 4%;
      z-index: 1000;

    }

  }

.my-app-custom-plain-container>* {
          flex: 0 0 33.3333%;
      }

  .my-app-custom-image {
    height: auto;
    width: 100%;
    align-self: start;
    z-index: 1000;

  }
}
