<div class="cv">
<h3><span class="accent">/</span>Experience <a href="/assets/MiaAlSaifCV.pdf" alt="download resume as pdf" target="_blank"><img src="/assets/icons/download.png" id="dnld"/></a> </h3>
<h4>Senior Support Engineer</h4>
<p>Acquia | Portland, OR | Oct 2018 – Present</p>

<h4>Customer Support Engineer</h4>
<p>Acquia | Portland, OR | Oct 2016 – Oct 2018</p>
<ul>
<li>Investigate and troubleshoot customer infrastructure issues related to: servers, load balancers, databases, file systems, and repositories.</li>
<li>Provide application support for technical dilemmas that arise from Drupal modules, PHP, caching, MySQL, custom code, and SSL.</li>
<li>Serve as subject-matter expert (SME) to engage clients in security, migration, performance tuning, module development, and architecture best practices; conduct advisory sessions with customers.</li>
<li>Develop internal tools, as well as new features for existing tools, through the use of HTML, CSS, JavaScript, and APIs.</li>
<li>Produce internal and external-facing documentation on the following topics: Acquia products and services, reported issues and solutions, and guided installation and configuration tutorials.</li>
</ul>
<h4>Web Developer</h4>
<p>Georgetown University | Washington, DC | May 2014 – Dec 2014</p>
<ul>
<li>Established web application requirements through client discussions.</li>
<li>Created wireframes, storyboards, and user flows in order to effectively communicate interaction and design ideas.</li>
<li>Utilized HTML5, CSS, JavaScript, and jQuery to develop and maintain intuitive web applications.</li>
<li>Expanded classroom educational technology services [CETS] scheduling web application functionalities.</li>
<li>Created and maintained the content and dynamic display for CETS official page.</li>
</ul>
<h4>Applications Support Analyst</h4>
<p>Georgetown University | Washington, DC | Sept 2013 – May 2014</p>
<ul>
<li>Employed Google Sites and necessary API’s to create and support McDonough School of Business Salesforce project tracking workspace.</li>
<li>Produced technical training material and documentation of business processes.</li>
<li>Provided Salesforce core functions training to McDonough School of Business [MSB] employees.</li>
<li>Developed and maintained Salesforce Soapbox Mailer campaign templates.</li>
<li>Expanded MSB Technology Center official site through the use of HTML and CSS.</li>
</ul>

<h3><span class="accent">/</span>EDUCATION</h3>
<h4>Master of Professional Studies, Technology Management</h4>
<p>Georgetown University
2013 – 2015</p>
<h4>Bachelor Of Science, Management Information Systems</h4>
<p>Prince Mohammad Bin Fahd University
2008 – 2012</p>

<h3><span class="accent">/</span>CERTIFICATIONS</h3>
<h4>Acquia Certified Cloud Pro</h4>
<p>Acquia Oct 2017 – Present </p>

<h4>Certified Scrum Master, CSM</h4>
<p>Scrum Alliance Mar 2017 – Present</p>
