<div class="cv">
<h3><span class="accent">/</span>Experience <a href="/assets/MiaAlSaifCV.pdf" alt="download resume as pdf" target="_blank"><img src="/assets/icons/download.png" id="dnld"/></a> </h3>
<h4>Senior Support Engineer</h4>
<p>Acquia | Portland, OR | Oct 2018 – Present</p>
<ul>
<li>Operate within the capacity of technical lead on customers critical, and business impacting issues; effectively organize remediation efforts, and convey intricate technical concepts to individuals with varying technical backgrounds.</li>
<li>Provide training and guidance to team members on job functions, as well as complex matters.</li>
<li>Additional responsibilities include those listed under Support Engineer</li>
</ul>
<h4>Support Engineer</h4>
<p>Acquia | Portland, OR | Oct 2016 – Oct 2018</p>
<ul>
<li>Utilize command line on a daily basis to access and analyze logs and configuration files; identify and resolve application and infrastructure-level issues.</li>
<li>Interpret metrics retrieved from various technologies – New Relic, SignalFx, and Sumo Logic – to evaluate and diagnose application health for thousands of clients.</li>
<li>Guide the design process for internal tools; leverage skills in HTML, CSS, JavaScript, and APIs to develop internal applications, as well as extend existing tool features.</li>
<li>Serve as subject-matter expert during client advisory calls on development best practices, performance tuning, and infrastructure architecture.</li>
<li>Produce internal and external-facing documentation on the following topics: Acquia products and services, issue resolution, and guided installation and configuration.</li>
</ul>
<h4>Web Developer</h4>
<p>Georgetown University | Washington, DC | May 2014 – Dec 2014</p>
<ul>
<li>Established web application requirements through client discussions. </li>
<li>Created wireframes, storyboards, and user flows in order to effectively communicate interaction and design ideas.</li>
<li>Utilized HTML5, CSS, JavaScript, and jQuery to develop and maintain intuitive web applications; expanded classroom educational technology services [CETS] scheduling web application functionalities.</li>
</ul>
<h4>Applications Support Analyst</h4>
<p>Georgetown University | Washington, DC | Sept 2013 – May 2014</p>
<ul>
<li>Enhanced McDonough School of Business [MSB] Technology Center official site through the use of HTML and CSS.</li>
<li>Employed Google Sites and necessary API’s to create and support MSB project tracking workspace.</li>
<li>Developed and maintained Salesforce Soapbox Mailer campaign templates.</li>
<li>Produced technical training material and documentation of business processes.</li>
<li>Provided Salesforce core functions training to MSB employees.</li>
</ul>

<h3><span class="accent">/</span>EDUCATION</h3>
<h4>Master of Professional Studies, Technology Management</h4>
<p>Georgetown University
2013 – 2015</p>
<h4>Bachelor Of Science, Management Information Systems</h4>
<p>Prince Mohammad Bin Fahd University
2008 – 2012</p>

<h3><span class="accent">/</span>CERTIFICATIONS</h3>
<h4>Acquia Certified Cloud Pro</h4>
<p>Acquia Oct 2017 – Present </p>

<h4>Certified Scrum Master, CSM</h4>
<p>Scrum Alliance Mar 2017 – Present</p>
